<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
<h1>Enter Profile Information</h1>
<form action="/edit" method="POST">
    <label>FullName:</label><br />
    <input type="text" name="full_name" value={{.FullName}}><br />
    <label>Address:</label><br />
    <input type="text" name="address" value={{.Address}}><br />
    <label>Telephone:</label><br />
    <input type="text" name="telephone" value={{.Telephone}}><br />
    <label>Email:</label><br />
    <input type="text" name="email" value={{.Email}}><br />
    <input type="submit" value="save and continue">
</form>
</body>
</html>