<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!-- forms.html -->
{{if .WrongLogin}}
<h1>Contact</h1>
<form action="/" method="POST">
    <label>Username:</label><br />
    <input type="text" name="username"><br />
    <label>Password:</label><br />
    <input type="text" name="password"><br />
    <label style="color: red">Username or Password is wrong! Please Try again</label><br />
    <input type="submit" value="login"> <a type="button" href="/signup">New User Sign-Up</a>
</form>
{{else}}
<h1>Contact</h1>
<form action="/" method="POST">
    <label>Username:</label><br />
    <input type="text" name="username"><br />
    <label>Password:</label><br />
    <input type="text" name="password"><br />
    <input type="submit" value="login"> <a type="button" href="/signup">New User Sign-Up</a>
</form>
{{end}}
</body>
</html>