<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>Profile Information</h1>
<label>FullName: {{.FullName}}</label><br />
<label>Address: {{.Address}}</label><br />
<label>Telephone: {{.Telephone}}</label><br />
<label>Email: {{.Email}}</label><br />
<a type="button"href="/edit"> Edit </a> <a type="button" href="/logout">Logout</a>
</body>
</html>
