<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
{{if .AlreadyExists}}
<form action="/signup" method="POST">
    <label>Username:</label><br />
    <input type="text" name="username"><br />
    <label>Password:</label><br />
    <input type="text" name="password"><br />
    <input type="submit" value="signup">
</form><br />
<p style="color: red">The user already exists. Please try to <a type="button"href="/"> login </a></p>
{{else}}
<form action="/signup" method="POST">
    <label>Username:</label><br />
    <input type="text" name="username"><br />
    <label>Password:</label><br />
    <input type="text" name="password"><br />
    <input type="submit" value="signup">
</form><br />
<p>Already have an account? Try <a type="button"href="/"> login </a></p>
{{end}}
</body>
</html>